<div class="jumbotron">
  <h1>Welcome to my home page</h1>      
  <p>I am using Bootstrap framework.</p>
</div>

<div class="container">
  <p>This is some text.</p>      
  <p>This is another text.</p>      
</div>